body { background: #1b39be; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 19px; display: flex; }
.block-uploader-0 { color: #aee8e9; font-size: 17px; margin-bottom: 5px; }
.block-search-1 { color: #fa18ea; font-size: 16px; margin-bottom: 5px; }
.block-router-2 { color: #838a70; font-size: 18px; margin-bottom: 5px; }
.block-product-3 { color: #ae6f9; font-size: 20px; margin-bottom: 5px; }
.block-search-4 { color: #c51a23; font-size: 21px; margin-bottom: 5px; }